@import "tailwindcss";
@tailwind utilities;

:root {
  --clr-primary: #0f172a;
  --clr-secondary: #7407FC;
  --clr-accent: #EF4444;
  --clr-ice-blue: #AFDBF5;
  --clr-primary-hsl: 233, 16%, 10%;
  --clr-secondary-hsl: 267, 98%, 51%;
  --clr-accent-hsl: 0, 84%, 60%;
  --clr-ice-blue-hsl: 202, 78%, 82%;



  --font-primary: "Noto Sans", sans-serif;
  --font-style: "Italianno", cursive;
  --font-title: "Itim", cursive;


  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, html, body {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  position: relative;
}

#root {
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  /* background: var(--clr-primary); */
  background: linear-gradient(135deg, #1A1A2E 0%, #16213E 50%, #0F3460 100%);

  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.ft-style {
  font-family: var(--font-style);
}

.ft-title {
  font-family: var(--font-title);
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    flex-direction: column-reverse;
  }
}